body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

.logo {
    margin-left: -200px;
    height: 60px;

}

.reward-logo {
    height: 40px;
}

.reward-logo:hover{
    cursor: pointer;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.nav-links li {
    display: inline-block;
    list-style: none;
    padding-right: 20px;
}

.header-final-flex {
    display: flex;
    column-gap: 20px;
}

.nav-signup-btn {
    border: 2px solid orangered;
    background-color: white;
    padding: 4px 16px;
    border-color: orangered;
    border-radius: 30px;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    color: orangered;
}
.btn:hover{
cursor: pointer;
    background-color: #f256001a;
}

.signup-btn {
    padding-top: 5px;
}

.banner {
    height: 631px;
    background: url("Assets/Banner.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -430px;
    height: 360px;
    width: 570px;
    background-color: #ffffff;
    opacity: 0.8;
    border-radius: 20px;
}

.transbox-text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.pickup-btn {
    cursor: pointer;
    border: none;
    background-color: orangered;
    color: white;
    padding: 14px 28px;
    border-radius: 30px;
    font-size: 18px;
    line-height: 20px;
}

.delivery-btn {
    cursor: pointer;
    border: none;
    background-color: orangered;
    color: white;
    padding: 14px 28px;
    border-radius: 30px;
    font-size: 18px;
    line-height: 20px;
}

.icon-style {
    padding-right: 15px;
}

.transbox-para {
    font-size: 18px;
    font-weight: bold;
}

.transbox-text h1 {
    font-size: 45px;
}

.below-banner {
    height: 900px;
    background-color: #F5F5F7;
}

.top-cardsflex {
    padding-top: 15px;
    display: flex;
    column-gap: 25px;
    justify-content: center;
    align-items: center;
}

.cards {
    height: 430px;
    width: 450px;
    border-radius: 20px;
    background-color: white;
}

.card1-image {
    height: 55%;
    width: 100%;
    background: url("Assets/cardimage1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;

}

.card2-image {
    height: 55%;
    width: 100%;
    background: url("Assets/cardimage2.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;

}

.card3-image {
    height: 55%;
    width: 100%;
    background: url("Assets/cardimage3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;

}
.card4-image{
    height: 55%;
    width: 100%;
    background: url("Assets/card4image.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0 0;
}

.card-texts{
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.cards h2{
    font-size: 25px;
}

.cards p{
    margin-top: -3px;
    font-size: 13px;
}

.order-btn{
    margin-left: 310px;
}
.order-btn2{
    margin-top: 30px;
    margin-left: 310px;
}

.ordernow-btn{
    border: 2px solid orangered;
    background-color: white;
    padding: 4px 16px;
    border-color: orangered;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: orangered;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 535px;
    background-color: rgba(31, 31, 31, 1);
}
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    row-gap: 30px ;
    height:400px;
    width: 1181px;
}
.row-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}
.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-links a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.vertical-line{
 font-size: 20px;
 color: gray
}

hr{
    color: gray;
}
.footer-para p{
    color: white;
    font-size: 17px;
}

.footer-logo{
    height: 106px;
    margin-top: -45px;
}
.final-footer-flex{
    display: flex;
    justify-content: space-between;
}
.social-flex{
    display: flex;
    column-gap: 20px;
}
.social-flex a{
    font-size: 30px;
}